.more {
    color: $accent;
    position: relative;
    max-width: max-content;

    &-doublesquare {
        @include font(400);
        padding-right: 32px;

        &::before,
        &::after {
            content: '';
            width: 22px;
            height: 22px;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
        }

        &::after {
            background: url('../img/icons/more-double-square.svg') no-repeat center;
            background-size: contain;
            right: 0;
        }

        &::before {
            background: url('../img/icons/more-double-square-arrow.svg') no-repeat left;
            background-size: contain;
            top: calc(50% + 1px);
            right: -10px;
            z-index: 2;
        }

        &__black {
            color: $text;

            &::after {
                filter: none;
            }

            &::before {
                filter: $filter-text;
            }
        }

        &__brand {
            color: $brand;

            &::after {
                filter: $filter-accent;
            }

            &::before {
                filter: $filter-brand;
            }
        }

        &__white {
            color: #fff;

            &::after,
            &::before {
                filter: $filter-white;
            }
        }

        &__big {
            font-size: 24px;
            padding-right: 42px;

            @media(max-width: 767px) {
                font-size: 18px;
                padding-right: 32px;
            }

            &::after,
            &::before {
                width: 32px;
                height: 32px;

                @media(max-width: 767px) {
                    width: 22px;
                    height: 22px;
                }
    
            }

            &::before {
                right: -13px;

                @media (max-width: 767px) {
                    right: -10px;
                }
            }
        }

        // &:hover {
        //     &::after {
        //         filter: $filter-accent;
        //     }

        //     &::before {
        //         filter: $filter-brand;
        //     }
        // }

        // &:active {
        //     &::after {
        //         filter: none;
        //     }

        //     &::before {
        //         filter: $filter-text;
        //     }
        // }
    }

    &-romb {
        @include font(600);
        color: $text;
        background: transparent;
        font-size: 16px;
        padding-right: 27px;

        &::after {
            content: '';
            width: 22px;
            height: 22px;
            background: url('../img/icons/more-romb-black.svg') no-repeat center;
            background-size: cover;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
        }
    }
}