.aboutpage-team {
    
    .section-titles {
        h2 {
            strong {
                color: $brand;
            }
        }
        margin-bottom: 60px;
    }

    .team {
        &-item {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 72px;
        }

        &-icon {
            flex: 0 0 118px;
            width: 118px;
            height: 118px;
            background: #fff;
            box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.06);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            &::after,
            &::before {
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                background: $brand;
            }

            &::after {
                width: 21px;
                height: 21px;
                border-radius: 50%;
                transform: translate(50%, -50%);
            }

            &::before {
                height: 1px;
                width: 35px;
                transform: translate(100%, -50%);
            }

            img {
                width: 54px;
                height: 54px;
                object-fit: contain;
                object-position: center;
            }
        }

        &-text {
            @include flex-col(12px);
            line-height: 1.75;
            position: relative;

            &::before {
                content: '';
                width: 13px;
                height: 13px;
                border-radius: 50%;
                background: #fff;
                border: 1px solid $brand;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(-37px, -50%);
            }
        }

        &-title {
            font-size: 18px;
            @include font(600);
        }
    }
}

@media (max-width: 767px) {
    .aboutpage-team {
        padding: 0px 0px 30px;

        .section-titles {
            margin-bottom: 50px;
        }

        .team-items {
            position: relative;
            left: -15px;
            width: 100vw;
        }
    
        .team {
            &-item {
                width: 80px;
                flex-direction: column;
                gap: 70px;

                &.swiper-slide-active {
                    position: relative;
                    .team {
                        &-icon {
                            transform: scale(1.4);
                            position: relative;

                            &::after,
                            &::before {
                                display: block;
                                content: '';
                                position: absolute;
                                left: 50%;
                                top: 100%;
                                background: $brand;
                            }
                
                            &::after {
                                width: 15px;
                                height: 15px;
                                border-radius: 50%;
                                transform: translate(-50%, calc(0% - 10px));
                            }
                
                            &::before {
                                height: 32px;
                                width: 1px;
                                transform: translate(-50%, 0%);
                            }
                        }

                        &-text {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }

                &.swiper-slide-next {
                    position: relative;
                    left: 13px;
                }
                &.swiper-slide-prev {
                    position: relative;
                    right: 13px;
                }
            }
    
            &-icon {
                flex: 0 0 80px;
                width: 80px;
                height: 80px;
                transition: transform .5s linear;
    
                &::after,
                &::before {
                    display: none;
                }
    
                img {
                    width: 32px;
                    height: 32px;
                }
            }
    
            &-text {
                width: calc(100vw - 30px);
                opacity: 0;
                visibility: hidden;
                gap: 10px;
                text-align: center;
                padding: 0px 30px;
    
                &::before {
                    top: 0%;
                    left: 50%;
                    transform: translate(-50%, -23px);
                }
            }

            &-desc {
                font-size: 14px;
            }
        }
    }
}