.aboutpage-story {
    background: $lightbg;

    .section-titles {
        padding: 0px 0px 45px;

        .subtitle {
            @include font(600);
        }
    }

    .story {

        &-items {
            @include flex-col(35px);
            position: relative;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 200px;
                background: linear-gradient(180deg, rgba(246, 246, 246, 0) 0%, #F6F6F6 100%);
                pointer-events: none;
            }

            &.open {
                .story-item {
                    visibility: visible;
                    opacity: 1;
                }

                &::after {
                    display: none;
                }
            }
        }


        &-item {
            display: flex;
            align-items: start;
            justify-content: start;
            padding-left: 60px;
            position: relative;
            opacity: 0;
            visibility: hidden;
            transition: opacity .5s linear;

            &::before,
            &::after {
                content: '';
                border-radius: 50%;
                position: absolute;
                left: 0;
            }

            &::after {
                width: 23px;
                height: 23px;
                background: $accent;
                top: -1px;
                left: 9px;
            }

            &::before {
                
                width: 41px;
                height: 41px;
                background: rgba($color: $accent, $alpha: 0.25);
                top: -10px;
            }

            &__noyear {
                &::before {
                    background: rgba($color: $brand, $alpha: 0.25);
                }
                &::after {
                    background: $brand;
                }
                .story-text {
                    &::before {
                        width: 230px;
                        border-bottom: 3px dashed rgba($color: $brand, $alpha: 0.2);
                    }
                }
            }

            &:first-child,
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                visibility: visible;
                opacity: 1;
            }
        }

        &-year {
            @include font(700);
            font-size: 26px;
            color: $accent;
            position: relative;
            top: -5px;
        }

        &-text {
            margin-left: auto;
            width: 890px;
            position: relative;

            &::before {
                content: '';
                height: 3px;
                width: 152px;
                border-bottom: 3px dashed rgba($color: $accent, $alpha: 0.2);
                position: absolute; 
                top: 9px;
                left: 0;
                transform: translate(calc(-100% - 18px), -50%);
            }
        }

        &-button {
            margin: 15px 0px 0px calc(1200px - 890px);
            width: 25px;
            height: 25px;
            background: url('../img/icons/story-open-btn.svg') no-repeat center;
            background-size: contain;
        }
    }
}

@media (max-width: 1200px) {
    .aboutpage-story {
    
        .story {
    
            &-text {
                width: 70%;
            }
        }
    }
}

@media (max-width: 767px) {
    .aboutpage-story {
   
        .section-titles {
            padding: 0px 0px 32px;
        }
    
        .story {
    
            &-items {
                overflow: hidden;
                @include flex-col(22px);
    
                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 200px;
                    background: linear-gradient(180deg, rgba(246, 246, 246, 0) 0%, #F6F6F6 100%);
                    pointer-events: none;
                }
    
                &.open {
                    .story-item {
                        visibility: visible;
                        opacity: 1;
                    }
    
                    &::after {
                        display: none;
                    }
                }
            }
    
    
            &-item {
                flex-direction: column;
                padding-left: 0px;
                gap: 25px;
                    
                &::before,
                &::after {
                    content: '';
                    border-radius: 50%;
                    position: absolute;
                    left: 0;
                }
    
                &::after {
                    width: 23px;
                    height: 23px;
                    background: $accent;
                    top: 9px;
                    left: 9px;
                }
    
                &::before {
                    top: 0px;
                }
    
                &__noyear {
                    padding: 60px 0px 0px 0px;
                    &::before {
                        background: rgba($color: $brand, $alpha: 0.25);
                    }
                    &::after {
                        background: $brand;
                    }
                    .story-text {
                        &::before {
                            width: calc(100% - 60px);
                            border-bottom: 3px dashed rgba($color: $brand, $alpha: 0.2);
                            transform: translate(60px, 50%);
                        }
                    }
                }
    
                &:first-child,
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4) {
                    visibility: visible;
                    opacity: 1;
                }
            }
    
            &-year {
                top: 4px;
                padding-left: 60px;
            }
    
            &-text {
                margin: 0;
                width: 100%;
    
                &::before {
                    width: calc(100% - 130px);
                    top: -45px;
                    left: 0;
                    transform: translate(130px, 50%);
                }
            }
    
            &-button {
                margin: 15px 0px 0px 0;
                width: 25px;
                height: 25px;
                background: url('../img/icons/story-open-btn.svg') no-repeat center;
                background-size: contain;
            }
        }
    }
}