.designpage-steps {
    background: #fff;
    .steps {
        &-wrapper {
            display: block;
        }

        &-items {
            margin-bottom: 130px;
            &::before,
            &::after {
                display: none;
            }
        }
    }
}